- @title = "#{@mp.full_name} Written Questions"
#parlour-tag
  %p.back_link
    =link_to 'back', mps_path

  %h1= @cloud.title
  %h3= "#{@mp.party} MP for #{@mp.constituency}"
  %h2= "Updated on #{@cloud.created_at.to_date.to_s(:db)}"

  %p.clouds_list
    See cloud for date:
    =mp_clouds_list(@mp)

  #cloud
    %ul
      = render :partial => @cloud.terms

