!!!
%html{html_attrs('en')}
  %head
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'parlour_tag'
    %title= h @title || "What's On Their Minds?"
  %body
    = yield
    = render :partial => 'common/analytics'
